/* Home Page*/
.navbar-brand{}
.display-4 {
margin-top: 25vh;
}
.container.home-bio.jumbotron.jumbotron-fluid {
    
    background-color: darkgray;
}
.home-image{
height: 100vh;
background: url("/assets/landing.jpg") no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;}
footer{height:150px;
}
.quotes.col-6 {
    flex: 0 0 auto;
    width: 50%;
    margin-top: 15vh;
}
.social-media{text-align: center;
}
.social-media > li {
    display: inline;
    margin-left: 40px;
}
.social-media  i { font-size: 160%;}

/* Reservation Page */

.reserve-page{
    background: url("/assets/reserve.jpg") no-repeat center center fixed;
    height:100vh;

}
.reserve-bio.display-4 {
    background-color: darkgray;
    margin-top: 15vh;
font-size: 40px;}
p{
    margin-top:15px;
}