
.navbar-brand{}
.display-4 {
margin-top: 50px;
}
.container.home-bio.jumbotron.jumbotron-fluid {
    
    background-color: darkgray;
}
.home-image{background-color: aqua;
height: 100vh;
background: url("/assets/landing.jpg") no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;}
footer{height:150px;
}
.social-media{text-align: center;
}
.social-media > li {display: inline; }
.social-media  i { font-size: 160%;}